@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  border-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.navigation-counter {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.intro {
  color: #000000;
  background-color: #c7ce18;
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-text-one {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text-two {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-item .advantages-description {
  color: #333333;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-blue .advantages-description {
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-light-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-of-hotels {
  text-align: center;
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  text-align: center;
}

.subscribe-index {
  background-image: url(../images/background/bg-subscription.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #000000;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-field {
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
}

.button-submit {
  background-color: #82B3D3;
  color: #ffffff;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
